.hide-scrollbar {
    scrollbar-width: none;
}

ul {
    list-style: none;
}

.arrow {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: inherit;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgb(0, 0, 0);
    padding: 8px;
}

.arrow.left ::before {
    content: "";
}


.carousel-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}