.card {
    border-radius: 30px;
    min-width: 300px;
    background-color: white;
    box-shadow: 7px 2px 20px black;
    transition: max-height 0.3s;
}

.cards-arrow {
    background-color: grey;
    color: beige;
    border: none;
    font-size: 20px;
}

.cards-demo {
    display: flex;
    margin: 40px 0px;
    align-items: center;
}

.card-content {
    color: black;
}